* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: $font-primary;
  font-weight: 400;
  overflow-x: hidden;
  background: $page-bg;
  color: $light;

  // Page scrollbar
  &::-webkit {
    /* width */
    &-scrollbar {
      width: 10px;
      padding: 2px;
    }

    /* Track */
    &-scrollbar-track {
      background: $light;
    }

    /* Handle */
    &-scrollbar-thumb {
      background: $dark-light;
    }

    /* Handle on hover */
    &-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  line-height: 1;
  color: $light;
}

a {
  text-decoration: none;
  color: $light;
  font-family: $font-primary;
  font-weight: 400;
}

img {
  width: 100%;
}

main {
  background: transparent;
}

ul {
  list-style-type: none;
}
