#home {
  &-nav {
    width: 40px;
    height: 10vh;
    position: fixed;
    top: 0;
    right: 5vw;
    display: flex;
    align-items: flex-end;
    z-index: 2;

    .nav-wrapper {
      width: 100%;
      width: 40px;
      height: 40px;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;
    }

    #toggler {
      width: 40px;
      height: 40px;
      position: absolute;
      bottom: 0;
      z-index: 3;
      opacity: 0;

      &:checked {
        & + .icons {
          transform-origin: 50% 50%;
          transform: rotate(360deg);
          transition: 1s;

          #close {
            display: block;
          }

          #hamburger {
            display: none;
          }
        }

        & ~ .menu {
          right: -20px;
        }

        &:hover {
          & + .icons #close {
            transform: rotate(45deg);
          }
        }
      }
    }

    .icons {
      position: absolute;
      bottom: 0;
      height: 40px;
      width: 40px;
      transition: 0.5s;
      z-index: 2;
      // display: none;

      &-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 30px;
          height: 30px;

          path {
            fill: $light;
          }

          &#close {
            display: none;
            transition: 0.45s ease-out;
          }
        }
      }
    }

    ul.menu {
      display: flex;
      flex-direction: column;
      background: darken($color: $dark, $amount: 5);
      position: absolute;
      top: 0px;
      right: -320px;
      padding: 15vh 40px 30px 0;
      border-radius: 0 0 15px 15px;
      transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      z-index: 1;

      li {
        margin-right: 2rem;

        a {
          color: $light;
          letter-spacing: 2px;
          display: inline-block;
          padding: 0.75rem 1.5rem;
          font-weight: 500;
          transition: 0.5s;
          white-space: nowrap;

          &:hover {
            color: $primary-light;
          }
        }
      }
    }
  }

  &-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 3vh 5vw;

      .logo {
        width: 10vh;
        height: 10vh;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        img {
          width: 100%;
        }
      }
    }
  }

  &-showcase {
    height: 100vh;
    width: 100%;
    background: $gradient-primary-bg;
    background: $gradient-primary-webkit;
    background: $gradient-primary;
    padding-top: 10vh;

    .showcase-content {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      height: 100%;

      &-l {
        grid-column: 3/7;
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: $light;
        padding-left: 10rem;

        h1 {
          color: $light;
          padding-bottom: 1rem;
          font-size: 3.5rem;
          font-family: $font-primary;
          // white-space: nowrap !important;

          &:nth-child(2) {
            padding-bottom: 2rem;
          }
        }

        .lead {
          margin-bottom: 2rem;
        }

        .cta-btns-wrapper {
          a {
            display: flex;
            align-items: center;
            background: #3a4853;
            padding: 0.5rem 3rem;
            border-radius: 35px;
            transition: 0.5s;

            svg {
              fill: $light;
              margin-right: 1.5rem;
              background-size: 32px;
            }

            .text {
              color: $light;

              small {
                font-size: 0.75rem;
                letter-spacing: 1.5px;
              }

              P {
                font-size: 1.2rem;
                margin-top: -5px;
                letter-spacing: 2px;
                font-weight: 500;
              }
            }

            &:hover {
              background: $dark-light;
            }
          }
        }
      }

      &-r {
        grid-column: 7/11;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        padding-bottom: 2rem;

        img {
          max-height: 100%;
          max-width: 100%;
          height: 100%;
          width: auto;
        }
      }
    }
  }

  &-features {
    background: $dark;
    .container {
      padding-bottom: 4rem;
    }
    .items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 3rem;

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        &-icon {
          i {
            padding: 1rem;
            color: $primary;
            background: $gradient-primary-bg;
            background: $gradient-primary-webkit;
            background: $gradient-primary;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        &-title {
          font-size: 1rem;
          letter-spacing: 1.5px;
          padding-bottom: 1rem;
          text-transform: uppercase;
          color: lighten($color: $medium, $amount: 10);
        }

        &-body {
          font-weight: 500;
          color: $medium;
        }
      }
    }
  }

  &-how-it-works {
    background: $dark-light;
    background: transparentize($color: $dark, $amount: 0.1);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $dark url("../assets/img/how-it-works-bg.jpg") no-repeat
        center center/ cover;
      z-index: -1;
      filter: grayscale(100%);
    }

    .section-title {
      padding: 2rem 0rem 2rem 0rem;
    }

    .slideshow {
      overflow: hidden;
      padding: 0rem 0rem 5rem 0rem;
    }

    .tutorials {
      height: 85vh;
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 0rem 1.5rem;

      .swiper {
        &-container {
          width: 100%;
          height: 100%;
        }

        &-wrapper {
          display: flex;
          height: 100%;
        }

        &-button-next,
        &-button-prev {
          color: $medium !important;
          background-color: transparentize($color: $white, $amount: 0.8);
          border-radius: 50%;
          background: transparentize($color: $black, $amount: 0.5);
          border: solid 2px $medium;
          transition: 0.5s;
          padding: 2rem;

          &::after {
            font-size: 2rem;
          }

          &:hover,
          &:focus {
            outline: none;
            border-color: $dark;
            color: $dark !important;
            background: $primary;
          }
        }

        &-button-next {
          margin-right: 0.75rem;
        }

        &-button-prev {
          margin-left: 0.75rem;
        }

        &-pagination-bullet-active {
          background-color: $primary;
        }

        &-slide {
          text-align: center;
          font-size: 18px;
          padding: 3rem;
          padding-bottom: 4.5rem;
          // background: $dark-light;

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;

          .text {
            padding: 0 2rem;
            border-radius: 2rem;
            background: transparentize($color: $light, $amount: 0.9);
            max-height: 120px;
            height: 120px;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            h3 {
              font-size: 1rem;
              font-family: $font-primary;
              font-weight: 500;
              padding-bottom: 0.5rem;
              text-transform: capitalize;
            }

            p {
              color: $primary-light;
              font-size: 0.85rem !important;
              font-weight: 300;
            }
          }

          img {
            width: 70%;
          }
        }
      }
    }
  }

  &-design {
    background: $gradient-primary-bg;
    background: $gradient-primary-webkit;
    background: $gradient-primary;

    .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 2rem;
      height: 400px;
    }

    .content {
      &-l {
        grid-column: 1/8;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        // padding: 1rem;

        .section-title {
          padding: 0;
          padding-top: 3rem;
          padding-bottom: 2rem;
          text-align: start;
        }

        .lead {
          padding: 0 1rem;
          padding-bottom: 1rem;
          color: $light;
        }

        .btn {
          padding: 0 1rem;
          a {
            display: inline-block;
            padding: 0.75rem 2rem;
            font-size: 0.95rem;
            background: $dark-light;
            color: $light;
            border-radius: 25px;
          }
        }
      }

      &-r {
        grid-column: 8/13;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 5rem;

        img {
          width: 100%;
        }
      }
    }
  }

  &-testimonials {
    background: transparentize($color: $dark, $amount: 0.1);
    position: relative;
    padding-bottom: 8rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $dark url("../assets/img/testimonial-bg.jpg") no-repeat center
        center/ cover;
      z-index: -1;
      filter: grayscale(100%);
    }

    .testimonials {
      height: auto;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 2rem;
      align-items: center;
      justify-content: center;

      .item {
        width: 100%;
        height: 100%;
        background: #00000085;
        border-radius: 25px;
        overflow: hidden;

        .head {
          height: 25%;

          a {
            padding: 1rem 2rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            svg path {
              fill: $medium;
              transition: 0.5s;

              &:hover {
                fill: $white;
              }
            }
          }
        }

        blockquote {
          text-align: left;
          color: lighten($color: $medium, $amount: 20);
          position: relative;
          letter-spacing: 1.2px;
          font-weight: 500;
          padding: 0 2rem 3rem 2rem;
          height: 75%;
          width: 100%;

          q {
            display: block;
            font-size: 14px;
            line-height: 1.25em;
            margin-bottom: 12px;
            quotes: "“" "”";
            margin-left: 2rem;
            color: $medium;

            &::before {
              color: $primary-light;
              content: open-quote;
              font-family: Georgia, "Times New Roman", Times, serif;
              font-size: 5rem;
              font-weight: bold;
              line-height: 4rem;
              left: 1rem;
              top: 0;
              position: absolute;
            }

            &::after {
              content: close-quote;
            }
          }

          cite {
            position: absolute;
            bottom: 0;
            padding-left: 2rem;
            padding-bottom: 0.75rem;
            font-weight: 300;
          }
        }
      }
    }
  }

  &-more-apps {
    background: $dark;
    padding-bottom: 8rem;

    .section-title {
      padding-bottom: 0rem;
    }

    .lead {
      padding: 2rem 10rem;
      text-align: center;
      color: darken($color: $light, $amount: 10);
      font-size: 1rem;
      padding-bottom: 4rem;
    }

    .items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-gap: 4rem;

      .item {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        justify-content: center;
        align-items: flex-start;
        max-height: 400px;
        background: $primary;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 9px 9px 9px 0px #0000002f;

        &-img {
          height: 100%;
          width: 100%;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            transition: 0.5s;
          }

          &:hover {
            img {
              transform: scale(1.2);
            }
          }
        }

        &-description {
          height: 100%;
          max-height: 100%;
          min-width: 100%;
          padding: 2rem 1.5rem;
          overflow: auto;
          // Page scrollbar
          &::-webkit {
            /* width */
            &-scrollbar {
              width: 10px;
              padding: 2px;
            }

            /* Track */
            &-scrollbar-track {
              background: $light;
            }

            /* Handle */
            &-scrollbar-thumb {
              background: $dark-light;
            }

            /* Handle on hover */
            &-scrollbar-thumb:hover {
              background: #555;
            }
          }

          h3 {
            padding-bottom: 1rem;
            font-family: $font-primary;
            text-transform: capitalize;
            font-size: 1.4rem;
          }

          p {
            color: darken($color: $light, $amount: 10);
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 1.75;
            padding-bottom: 2rem;
          }

          a {
            display: inline-block;
            padding: 0.5rem 1.5rem;
            font-size: 0.95rem;
            background: $light;
            color: $primary;
            border-radius: 15px;
          }
        }

        // Item background colors {
        &:nth-child(2n) {
          background-color: #fb4e55;

          .item-description {
            a {
              color: #fb4e55 !important;
            }
          }
        }
      }
    }
  }

  &-contact {
    background: $primary-light;
    background: transparentize($color: $primary-light, $amount: 0.1);
    position: relative;
    padding-bottom: 10rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $primary-light url("../assets/img/iproject-team.png")
        no-repeat center center/cover;
      z-index: -1;
      filter: grayscale(100%);
    }

    .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 3rem;
      padding: 0 2rem;
    }

    h3 {
      letter-spacing: 2px;
      font-size: 1.5rem;
      font-family: $font-primary;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    .social {
      padding: 0rem 0rem;
      grid-column: 12/13;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      ul {
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 2rem;
          a {
            display: flex;
            align-items: center;
            flex-direction: column;

            height: 50px;
            width: 50px;
            margin-right: 1rem;
            position: relative;
            border: 1px solid $dark-light;
            background: $dark-light;
            border-radius: 5px 15px 10px 35px;
            transition: 0.5s;
            overflow: hidden;

            i {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              font-size: 1.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: 0.5s;

              &:first-child {
                color: $primary-light;
                z-index: 3;
              }

              &:last-child {
                top: 50px !important;
                z-index: 1;
                // background: $primary;
                color: $white;
              }
            }

            &:hover {
              i:first-child {
                transform: translateY(-50px);
                opacity: 0;
              }

              i:last-child {
                transform: translateY(-50px) scale(1.1);
              }
            }

            // Set background colors on hover base on classes
            &.facebook:hover {
              background-color: #3b5999;
              border-color: #3b5999;
            }
            &.twitter:hover {
              background-color: #55acee;
              border-color: #55acee;
            }
            &.whatsapp:hover {
              background-color: #25d366;
              border-color: #25d366;
            }
          }
        }
      }
    }

    form {
      grid-column: 1/ 9;

      .user-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
      }

      input,
      textarea {
        border: solid 2px $dark-light;
        font-size: 1rem;
        padding: 0.75rem 1rem;
        max-width: 100%;
        color: $dark;
        width: 100%;
        margin-bottom: 1rem;
        letter-spacing: 1.5px;
        border-radius: 5px 5px 0px 20px;

        &:focus {
          outline: none;
          border: 2px solid $primary;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: $dark !important;
        }
      }

      textarea {
        font-size: 1.1rem;
        font-family: $font-primary;
      }

      input[type="submit"] {
        background: $dark-light;
        color: $light;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        transition: 0.5s;

        &:hover {
          background: $dark;
        }
      }
    }

    .contact-info {
      grid-column: 9/ 12;
      background: #141416;
      background: $dark-light;
      border-radius: 10px 10px 10px 60px;
      padding: 2rem;

      .items {
        display: flex;
        flex-direction: column;

        a {
          padding: 0.5rem 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          transition: 0.5s;

          &:hover {
            color: $primary-light;

            i {
              color: $white;
              background: $primary-light;
            }
          }
        }

        i {
          padding: 1rem;
          background: $light;
          border-radius: 50%;
          margin: 0.5rem 0;
          color: $primary-light;
          font-size: 1.5rem;
          transition: 0.5s;
        }
      }
    }
  }

  &-main-footer {
    padding-top: 4rem;
    background: darken($color: $dark, $amount: 5);
    box-shadow: -5px -5px 10px rgba($color: #000000, $alpha: 0.05);

    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    h3 {
      font-weight: 300;
      text-transform: uppercase;
      color: #999999;
      font-family: $font-primary;
      padding-top: 0.5rem;
      padding-bottom: 1.5rem;
    }

    .about-social {
      .wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .logo {
          width: 13%;
          margin-right: 1.5rem;
          padding-top: 0.5rem;

          img {
            margin-right: 1rem;
            max-width: 4.8rem;
            width: 100%;
          }
        }

        .right-content {
          h1 {
            text-align: left;
            a {
              letter-spacing: 4px;
              font-size: 1.5rem;
              white-space: nowrap;
              color: $medium;
              color: #999999;
              font-family: $font-primary;
              line-height: 1;
              font-weight: 300;
              text-transform: uppercase !important;
            }
          }

          .social {
            padding: 2rem 0rem;
            ul {
              display: flex;

              li {
                a {
                  display: flex;
                  align-items: center;
                  flex-direction: column;

                  height: 50px;
                  width: 50px;
                  margin-right: 1rem;
                  position: relative;
                  border: 1px solid #999999;
                  border-radius: 5px 15px 10px 35px;
                  transition: 0.5s;
                  overflow: hidden;

                  i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.5s;

                    &:first-child {
                      color: #999999;
                      z-index: 3;
                    }

                    &:last-child {
                      top: 50px !important;
                      z-index: 1;
                      // background: $primary;
                      color: $white;
                    }
                  }

                  &:hover {
                    i:first-child {
                      transform: translateY(-50px);
                      opacity: 0;
                    }

                    i:last-child {
                      transform: translateY(-50px) scale(1.1);
                    }
                  }

                  // Set background colors on hover base on classes
                  &.facebook:hover {
                    background-color: #3b5999;
                    border-color: #3b5999;
                  }
                  &.twitter:hover {
                    background-color: #55acee;
                    border-color: #55acee;
                  }
                  &.whatsapp:hover {
                    background-color: #25d366;
                    border-color: #25d366;
                  }
                }
              }
            }
          }
        }
      }
    }

    .useful-links {
      ul {
        display: flex;

        div {
          li:last-child a {
            border-bottom: none;
          }
        }

        .left {
          margin-right: 2rem;
        }

        li a {
          display: inline-block;
          padding: 0.5rem 0;
          color: $medium;
          letter-spacing: 1.2px;
          border-bottom: dotted 1px lighten($color: #222c32, $amount: 8);
          transition: 0.4s 0.1s;
          font-size: 0.9em;

          &:hover {
            color: $primary-light;
          }
        }
      }
    }

    .newsletter {
      p {
        padding-bottom: 2rem;
        color: $medium;
        letter-spacing: 1.2px;
        font-size: 0.9rem;
        line-height: 1.8;
      }

      form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        & > * {
          height: 45px;
        }

        .mail-icon {
          width: 15%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px 0 0 5px;
          background: $primary;
          border: 1px solid $primary;

          svg {
            fill: $light;
          }
        }

        input {
          border: 1px solid $primary;

          &:focus {
            outline: none;
          }
        }

        input[type="email"] {
          width: 65%;
          padding: 0 0.5rem;
          color: $dark;
          font-size: 1rem;
          background: $light;
          letter-spacing: 1.2px;
        }

        input[type="submit"] {
          width: 25%;
          padding: 0 0.7rem;
          color: $light;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 0.85rem;
          border-radius: 0 5px 5px 0;
          background: $primary;
        }
      }

      .message {
        color: tomato;
        padding: 0.25rem 0;
        display: none;
      }
    }

    .copyright {
      grid-column: 1 / span 3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0 2rem 0;
      margin-top: 4rem;
      font-weight: 300;
      font-size: 0.95rem;
      color: lighten($color: $dark-light, $amount: 18);
      position: relative;

      // Gradient line as top border
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          to left,
          #222c32,
          #374750,
          #374750,
          #374750,
          #222c32
        );
      }

      a {
        font-weight: 300;
        font-size: 0.95rem;
        color: lighten($color: $dark-light, $amount: 18);
      }
    }
  }
}
