@media (min-width: "770px") and (max-width: "1400px") {
  #home {
    .section-title {
      font-size: 2rem;
    }

    &-showcase {
      .showcase-content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &-l {
          grid-column: 2/7;

          padding: 0;
        }

        &-r {
          grid-column: 7/12;

          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}
